<button class="btn btn-success" (click)="addPerson()">Add Person</button>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.id}}</td>
      <td>{{person.fname}}</td>
      <td>{{person.lname}}</td>
      <td>
        <button class="btn btn-warning" (click)="updatePerson(person)">Edite</button>
        <button class="btn btn-danger" (click)="deletePerson(person)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>