<div class="container">
  <form (ngSubmit)="processSave()">
    <div class="form group">
      <input type="text" name="id" class="form-control" [(ngModel)]="person.id">
    </div>
    <div class="form group">
      <label for="fname">First Name</label>
      <input type="text" name="fname" class="form-control" [(ngModel)]="person.fname">
    </div>
    <div class="form group">
      <label for="lname">Last Name</label>
      <input type="text" name="lname" class="form-control" [(ngModel)]="person.lname">
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
  </form>
</div>
